{% load tailwind_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Esta tag injeta o CSS gerado pelo Tailwind -->
    {% tailwind_css %}
</head>
<body class="p-8">
		<header>
			<ul>
				<li><a href="{% url 'index' %}">Página Principal</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'reset_pass' %}">Alterar Senha</a></li>
				<li><a href="{% url 'index' %}">Sair</a></li>
				{% else %}
				<li><a href="{% url 'register' %}">Registrar</a></li>
				<li><a href="{% url 'index' %}">Entrar</a></li>
				{% endif %}
			</ul>
		</header>
    {% block content %} {% endblock %}
		<script src="{% static 'js/script.js' %}"></script>
</body>
</html>