{% extends "to_do_lists/base.html" %}

{% block content %}

	{% if user.is_authenticated %}
	<form method="POST" class="shadow mt-3 p-3">
		{% comment %} Tag de Segurança do Django {% endcomment %}
		{% csrf_token %}

		{% if form.errors %}
			{% if form.errors %}
				{% for field, errors  in form.errors.items %}
					<div class="alert alert-danger">
						<strong>{{ field|title }}:</strong> {{ errors|join:", " }}*
					</div>
				{% endfor %}
			{% endif%}
			{% if form.non_field_errors %}
				<div class="alert alert-danger">
					{{ form.non_field_errors|join:", " }}
				</div>
			{% endif %}
		{% endif%}

		<div class="mb-3">
			<label for="id_tarefa" class="">Qualquer</label>
			{{ form.tarefa }}
		</div>
		<button type="submit">Cadastrar</button>
	</form>
	<div>
		<div>
			{% if tarefasNaoConcluidas %}
				{% for tarefa in tarefasNaoConcluidas %}
					<div>
						<span id="">{{ tarefa }}</span>
						<a href="{% url 'concluir' id=tarefa.id %}" class="">Concluir</a>
						<a href="{% url 'excluir' id=tarefa.id %}" class="">Excluir</a>
					</div>
				{% endfor %}
			{% else %}
				<p>Não há tarefas cadastradas.</p>
			{% endif %}
		</div>
		<div>
			{% if tarefasConcluidas %}
				{% for tarefa in tarefasConcluidas %}
					<div>
						<span id="">{{ tarefa }}</span>
					</div>
				{% endfor %}
			{% else %}
				<p>Não há tarefas concluidas.</p>
			{% endif %}
		</div>
	</div>
	{% else %}
		<a href="{% url 'register' %}" class="">Clique aqui para criar uma tarefa!</a>
	{% endif %}
{% endblock %}